header {
	background: linear-gradient(to bottom right, #666666, #336699);
	overflow-x: hidden;
	overflow-y: scroll; 
	padding-top: 51px;
}

h2 {
	font-size: 40px;
}

.btn-xl {
	font-size: 14px;
}

.showAppt {
	margin-top: 20px;
}

.center-content {
	margin-top: 25%;
}

.navbar-view {
	background: rgba(0,0,0,0.5);
	width: 100%;
}

.navbar-view ul{
	display: flex;
	width: 100%;
}

.navbar-view ul li{
	flex-grow: 1;
	text-align: center;
}

.navbar-view .glyphicon {
	font-size: 24px;
	display: block;
	text-align: center;
	padding-bottom: 8px;
}

.header-form {
	margin-top: 3%;
	left: 60%;
    background: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.header-form h2 {
    margin: 15px 0 20px 5px;
}

.header-form label,
.header-form h2 {
    color: black;
}

.header-form p {
	padding-top: 10px;
    font-size: 15px;
}

.header-form .btn {
    font-size: 13px;
}

.header-form .close {
    font-size: 23px;
    position: absolute;
    right: 25px;
    top: 15px;
}

.content-container {
	height: 100%;
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.page.ng-leave { z-index:9999; }
.page.ng-enter { z-index:8888; }

.page-home.ng-enter {  
    -webkit-animation:fadein 0.3s ease-in-out;
	-moz-animation:fadein 0.3s ease-in-out;
	animation:fadein 0.3s ease-in-out;    
}

.page-clinician.ng-enter {  
    -webkit-animation:fadein 0.3s ease-in-out;
	-moz-animation:fadein 0.3s ease-in-out;
	animation:fadein 0.3s ease-in-out;    
}

.page-location.ng-enter {  
    -webkit-animation:fadein 0.3s ease-in-out;
	-moz-animation:fadein 0.3s ease-in-out;
	animation:fadein 0.3s ease-in-out;    
}

.page-payment.ng-enter {  
    -webkit-animation:fadein 0.3s ease-in-out;
	-moz-animation:fadein 0.3s ease-in-out;
	animation:fadein 0.3s ease-in-out;    
}

@keyframes fadein {
    from {opacity:.6;}
    to {opacity:1;}
}
@-moz-keyframes fadein {
	from {opacity:.6;}
    to {opacity:1;}
}
@-webkit-keyframes fadein {
	from {opacity:.6;}
    to {opacity:1;}
}

.clinician-img {
	width: 80%;
    position: absolute;
    top: 65px;
}

.tab-content {
	padding: 10px 0;
}

.nav-tabs>li {
	font-size: 17px;
}

.insurance-icons {
	color: black;
	text-align: center;
	background: white;
}