<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="clinician/#tab1">Education</a></li>
  <li><a data-toggle="tab" href="clinician/#tab2">Experience</a></li>
  <li><a data-toggle="tab" href="clinician/#tab3">Specialization</a></li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane fade in active">
    <p>This is the first tab.</p>
  </div>
  <div id="tab2" class="tab-pane fade">
    <p>This is the second tab.</p>
  </div>
  <div id="tab3" class="tab-pane fade">
    <p>This is the third tab.</p>
  </div>
</div>